{% extends "pages/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'pages/new_hack.css' %}">

      <div class="text"> 
        <h1 class="hello"> ABOUT US</h1>
         
        
            <p class="text1">
                Having basic amenities is the right of each and every of person. But not each one of us is privileged to have whatever we want.
                 <br>
                "We make a living by what we get, but we make a life by what we give."
                 <br><br>
                We at Pehel are connecting the people who want to do charity with people in need.We believe that helping hands are better than praying lips.Even a small donation of yours can make a difference.
                <br>
                Some of the things which people can donate are clothes and books.We work in collaboration with different NGOs. We collect donations from people and provide it to the NGOs. Currently,we are working in Patiala only,but we are expecting to expand our cause to further parts of country also. 
                 
            </p>
</div>
<h2 class="model">
    Our 3 Step Operational Model
</h2>
<div class="wrap">
    <div class="first">
        <div class="image">
        <img src="{% static 'pages/download (8).jpg' %}" width="300 px" height="200 px"></div>
            <h3>
                Collection
            </h3>
            <div class="second">
            <p >
                We collect used/new books and clothes from individuals, schools, corporates, etc who are willing to support the cause.
            </p>
        </div>
    </div>
    <div class="first">
        <div class="image">
        <img src="{% static 'pages/download (9).jpg' %}" width="300 px" height="200 px">
    </div>
       <h3>
        Categorization
       </h3>
       <div class="second">
       <p>
           We categorize the books and clothes according to the organizations who need them.
       </p>
    </div>
    </div>
    <div class="first">
        <div class="image">
        <img src="{% static 'pages/WhatsApp Image 2020-07-05 at 13.20.44.jpeg' %}" width="300px" height="200px"></div>
        <h3>
            Distribution
        </h3>
        <div class="second">
        <p >
            We distribute books collected to the NGOs which can help the needy.
        </p>
        </div>
    </div>
</div>
{% endblock content %}
