{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'pages/hack.css' %}">
           
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/cc342b0a2c.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
          

            <span class="logo navLogo"><a href="{% url 'index' %}">पहल</a></span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">पहल</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href=#contact-section>Contact</a></li>
                    
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'organizations' %}">Organizations</a></li>
                    <!-- <button class="btn-primary btn-block btn-lg" data-toggle="modal" href="#" data-target="#inquiryModal">Donation</button> -->
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                    <li><a href="{% url 'register' %}">Donate🤍</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                  {% endif %}
                    
                    
                </ul>
            </div>

            

            
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>

                
        </div>
    </nav>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
          <br> <br>
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        
      </div>
    </main>

    
<!--FOOTER-->

<div class="body_footer">
  <section id="contact-section">
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">पहल</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li><a href="#">Home</a></li>
          <li><a href="#">Donate🤍</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
        
        
        
        <ul class="box input-box">
          <li class="link_name">Contact us</li>
          <li><input type="text" placeholder="Enter your name"></li>
          <li><input type="text" placeholder="Enter your email"></li>
          <li><input type="text" placeholder="Enter your message to us"></li>
          <li><input type="button" value="Submit"></li>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Pehel © 2022&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Pehel</a>All rights reserved</span>
        <span align="centre">With 💖, Team Pehel</span>
        <span class="policy_terms">
          <a href="#">Privacy policy</a>
          <a href="#">Terms & condition</a>
        </span>
      </div>
    </div>
  </footer>
</section>
</div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
