{% extends "pages/base_old.html" %}
{% block content %}
</div><br>
<button class="btn-primary btn-block btn-lg" data-toggle="modal" href="#" data-target="#donationModal">DONATE</button>
</div>

<div class="modal fade" id="donationModal" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="donationModalLabel">Donation Form</h5>
      <button type="button" class="close" data-dismiss="modal">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="{% url 'donation' %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
          <input type="hidden" name="user_id" value="{{ user.id }}">
        {% else %}
          <input type="hidden" name="user_id" value="0">
        {% endif %}
        <!-- <input type="hidden" name="organization_email" value="{{ organization.email }}">
        <input type="hidden" name="organization_id" value="{{ organization.id }}"> -->
        <div class="form-group">
          <label for="name" class="col-form-label">Name:</label>
          <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
        </div>
        <div class="form-group">
          <label for="email" class="col-form-label">Email:</label>
          <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
        </div>
        <div class="form-group">
          <label for="phone" class="col-form-label">Phone:</label>
          <input type="text" name="phone" class="form-control">
        </div>
        <div class="form-group">
          <label for="address" class="col-form-label">Pickup Address:</label>
          <textarea name="address" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="remarks" class="col-form-label">Remarks:</label>
          <textarea name="remarks" class="form-control"></textarea>
        </div>
        <hr>
        <input type="submit" value="Send" class="btn btn-block btn-secondary">
      </form>
    </div>
  </div>
</div>
</div>


<br> <br>
<section id="organizations" class="organizations section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Organizations</h2>
        <p>Organaizations that joined this initiative :)</p>
      </div>
    </div>

      <div class="row">
        {% if organizations %}
        {% for organization in organizations %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card organization-preview">
                <!-- <img class="card-img-top" src="{{ organization.photo_main.url }}" alt=""> -->
                <img class="card-img-top" src="{{ organization.photo_main.url }}" alt="">
              <div class="card-body">
                <div class="organization-heading text-center">
                  <h4 class="text-primary">{{ organization.name }}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{ organization.objective }}</p>
                </div>
                
                
               
                <a href="{% url 'organization' organization.id %}" class="btn btn-primary btn-block">More Info</a> <br> <br>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>No Organizations Available</p>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock content %}