{% extends "pages/base_old.html" %}
{% load static %}
{% block content %}
  
<main id="main">

    <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'pages/style.css' %}" rel="stylesheet">

  <br>

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{ organization.photo_main.url }}" alt="">
                </div>

                {% if organization.photo_1 %}
                <div class="swiper-slide">
                  <img src="{{ organization.photo_1.url }}" alt="">
                </div>
                {% endif %}

                {% if organization.photo_2 %}
                <div class="swiper-slide">
                  <img src="{{ organization.photo_2.url }}" alt="">
                </div>
                {% endif %}

                {% if organization.photo_3 %}
                <div class="swiper-slide">
                  <img src="{{ organization.photo_3.url }}" alt="">
                </div>
                {% endif %}

                {% if organization.photo_4 %}
                <div class="swiper-slide">
                  <img src="{{ organization.photo_4.url }}" alt="">
                </div>
                {% endif %}

                {% if organization.photo_5 %}
                <div class="swiper-slide">
                  <img src="{{ organization.photo_5.url }}" alt="">
                </div>
                {% endif %}

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
        </div>
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>{{ organization.name }}</h3>
              <ul>
                <li><strong>Objective</strong>: {{ organization.objective }}</li>
                <li><strong>Date of Joining (Pehel)</strong>: {{ organization.date_joined }}</li>
                
              </ul>
            </div><br>
            <button class="btn-primary btn-block btn-lg" data-toggle="modal" href="#" data-target="#inquiryModal">Send Query to NGO</button>
          </div>

          <div class="modal fade" id="inquiryModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="inquiryModalLabel">Direct inquiry to Organization</h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                      <input type="hidden" name="user_id" value="{{ user.id }}">
                    {% else %}
                      <input type="hidden" name="user_id" value="0">
                    {% endif %}
                    <input type="hidden" name="organization_email" value="{{ organization.email }}">
                    <input type="hidden" name="organization_id" value="{{ organization.id }}">
                    <div class="form-group">
                      <label for="property_name" class="col-form-label">Organization:</label>
                      <input type="text" name="organization" class="form-control" value="{{ organization.name }}">
                    </div>
                    <div class="form-group">
                      <label for="name" class="col-form-label">Name:</label>
                      <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-form-label">Email:</label>
                      <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
                    </div>
                    <div class="form-group">
                      <label for="phone" class="col-form-label">Phone:</label>
                      <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="message" class="col-form-label">Message:</label>
                      <textarea name="message" class="form-control"></textarea>
                    </div>
                    <hr>
                    <input type="submit" value="Send" class="btn btn-block btn-secondary">
                  </form>
                </div>
              </div>
            </div>
          </div>

        <div class="modal fade" id="inquiryModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="inquiryModalLabel">Direct inquiry to Organization</h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                      <input type="hidden" name="user_id" value="{{ user.id }}">
                    {% else %}
                      <input type="hidden" name="user_id" value="0">
                    {% endif %}
                    <input type="hidden" name="organization_email" value="{{ organization.email }}">
                    <input type="hidden" name="organization_id" value="{{ organization.id }}">
                    <div class="form-group">
                      <label for="property_name" class="col-form-label">Organization:</label>
                      <input type="text" name="organization" class="form-control" value="{{ organization.name }}">
                    </div>
                    <div class="form-group">
                      <label for="name" class="col-form-label">Name:</label>
                      <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-form-label">Email:</label>
                      <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
                    </div>
                    <div class="form-group">
                      <label for="phone" class="col-form-label">Phone:</label>
                      <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="message" class="col-form-label">Message:</label>
                      <textarea name="message" class="form-control"></textarea>
                    </div>
                    <hr>
                    <input type="submit" value="Send" class="btn btn-block btn-secondary">
                  </form>
                </div>
              </div>
            </div>
          </div>
        <div class="portfolio-description">
            <h2>Detials of {{ organization.name }}:</h2>
            <p>
              {{ organization.description }}
            </p>
          </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
{% endblock content %}